body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f2f5;
    color: #333;
    padding: 20px;
    text-align: center;
}

header {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: auto;
    max-width: 700px;
}

.profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 20px 0;
}

.social-links {
    display: flex;
    justify-content: center;
}

.social-links a {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    margin: 0 10px;
}

.social-links a:hover {
    background-color: #0056b3;
}

header img:hover {
    opacity: 0.9;
}